.main{
    width: 435px;
}

.title{
    width: 197px;
    height: 37px;
    margin: 30px 0px 0px 24px;
}

.button{
    width: 243px;
    height: 51px;
    margin: 27px 0px 0px 44px;
    border-radius: 50px;
    background: #000000;

    color: #FFFFFF;
}

.groupName{
    display:inline;
    width: 162px;
    height: 44px;
    margin: 30px 0px 0px 35px;
    /* top: 442.67px;
    left: 437px; */

}

.textBox{
    border: 2px solid #CCCCCC;
    border-radius: 8px;
}

.textArea{
    width: 435px;
    height: 70px;
    /* margin: 30px 0px 0px 35px; */
    color: #979797;
    border:none;

    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.035em;
    text-align: left;

}

.chooseColor{
    margin: 30px 0px 0px 35px;
}

.violet, .pink, .cyan, .orange, .blue, .lightblue{
    margin: 30px 0px 0px 35px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    /* top: 532px;
    left: 669px; */

    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
}

.violet{
    background-color:#B38BFA;
}

.violet:hover  {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  }

.pink{
    background-color: #FF79F2
}

.pink:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.cyan{  
    background-color:#43E6FC
}   

.cyan:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.orange{
    background-color:#F19576
}

.orange:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}
.blue{
    background-color:#0047FF;
}

.blue:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.lightblue{
    background-color:#6691FF;
}
.lightblue:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}


.closeBtn {
    width: 154px;
    height: 38px;
    border-radius: 11px;
    margin: 70px 0px 0px 580px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.035em;
    
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
/* .notesList{
    align-items: center;
    margin: 2px 0px 0px 0px;
} */

.indNotes:hover{
    background-color: #f4f4f4;
}

.titleDisc{
    font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

  }
.notesTitle{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

}